/* common design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: "Merriweather", serif; */
}
.btn {
  border: 0;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
}
/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/

/* header design */
header {
  margin-top: 50px;
}
nav {
  background-image: url(../images/Banner\ Image.png);
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.nav-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-container .minor-title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.nav-container .nav-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}
/* main section design start here */
.main-container > section {
  width: 1320px;
  /* height: 500px; */
  background-color: aquamarine;
  margin: 120px auto;
}

/* offer section */
.offer-section {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-section .offer-title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.offer-section .offer-sub-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 45px;
}
.offer-section .offer-category-text {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}
.offer-section img {
  width: 800px;
  height: 500px;
  margin-top: 45px;
}

/* party banner  */
.party-banner-section {
  height: 600px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.party-banner .party-banner-title {
  width: 640px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 25px;
}
.party-banner .party-banner-des {
  width: 690px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.party-banner-section .party-banner-img img {
  width: 350px;
  height: 460px;
}
.party-banner .party-banner-btn {
  margin: 45px 0;
  background-color: rgba(175, 26, 88, 0.775);
  box-shadow: 2px 2px 0 white;
  padding: 16px 32px;
}

/* event start time */
.event-time-section {
  height: 450px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  font-family: "Inter", sans-serif;
  border-radius: 15px;
}
.font-different-color {
  color: #f00;
}
.event-time {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-time > p {
  color: #070211;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
}
.event-time-btn {
  margin-top: 45px;
  padding: 15px 32px;
}

.event-coming {
  height: 460px;
}
.holiday-discount {
  height: 980px;
}
.product-portfolio {
  height: 1160px;
}
.subscribe-news-latter {
  height: 615px;
}
