/* common design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.btn {
  border: 0;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
}
.font-different-color {
  color: #f00;
}
/* 
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/

/* header design */
header {
  margin-top: 50px;
}
nav {
  background-image: url(../images/Banner\ Image.png);
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  color: white;
}
.nav-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-container .minor-title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.nav-container .nav-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
}
/* main section design start here */
.main-container > section {
  width: 1320px;
  margin: 120px auto;
}

/* offer section */
.offer-section {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-section .offer-title {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.offer-section .offer-sub-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 45px;
}
.offer-section .offer-category-text {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}
.offer-section img {
  width: 800px;
  height: 500px;
  margin-top: 45px;
}

/* party banner  */
.party-banner-section {
  height: 600px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.party-banner .party-banner-title {
  width: 640px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 25px;
}
.party-banner .party-banner-des {
  width: 690px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.party-banner-section .party-banner-img img {
  width: 350px;
  height: 460px;
}
.party-banner .party-banner-btn {
  margin: 45px 0;
  background-color: rgba(175, 26, 88, 0.775);
  box-shadow: 2px 2px 0 white;
  padding: 16px 32px;
}

/* event start time */
.event-time-section {
  height: 450px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  font-family: "Inter", sans-serif;
  border-radius: 15px;
}
.event-time {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-time > p {
  color: #070211;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
}
.event-time-btn {
  margin-top: 45px;
  padding: 15px 32px;
}

/* coming event section start here */
.coming-event-section {
  height: 460px;
}
.coming-event-img img {
  width: 350px; /* width: 364px; , in figma file*/
  height: 350px; /* height: 364px;  */
  border: 15px solid #f00;
  border-radius: 600px;
  padding: 20px;
}
.coming-event {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.left-coming-event-best-order {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.left-coming-event-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.left-coming-event-des {
  width: 390px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.right-coming-event-date {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.right-coming-event-des {
  width: 275px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.coming-event-item-right img {
  width: 140px;
  height: 140px;
  margin-top: 20px;
}
.coming-event-item-right {
  height: 100%;
  margin-top: 245px;
}

/* holiday discount start here */
.holiday-discount-section {
  height: 980px;
  /* background-color: #fff; */
  background-image: url(../images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.holiday-discount-section > p {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.holiday-discount-section .holiday-sale {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  margin-top: 15px;
  margin-bottom: 25px;
}
.holiday-discount-section .holiday-des {
  width: 1068px;
  margin: 0 auto;
}
.holiday-discount-first-img {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.discount-first-img-left img {
  width: 796.463px;
  height: 662.07px;
  /* mix-blend-mode: calc(); */
}
.discount-first-img-right {
  width: 420px;
  height: 430px;
  position: relative;
}
.discount-first-img-right img {
  /* height: 100%;
  width: 100%; */
  width: 420px;
  height: 430px;
  margin-top: 14px;
}
.discount-first-img-right-absolute-img {
  position: absolute;
  top: 160px;
  bottom: 0;
  left: -100px;
}
.discount-first-img-right-absolute-img img {
  width: 200px;
  height: 200px;
}

/* product portfolio start here */
.product-portfolio-section {
  height: 1160px;
}
.product-portfolio-gift {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.product-portfolio-title {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.product-portfolio-des {
  width: 890px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.img-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
}
.img-section img {
  width: 424px;
  height: 450px;
}
.img-section img:hover {
  opacity: 0.7;
}

/* subscribe newsletter start here */
.subscribe-news-section {
  height: 615px;
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.subscribe-news-img img {
  width: 150px;
  height: 150px;
}
.subscribe-news-title {
  color: #070211;
  /* text-align: center; */
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 0;
}
.subscribe-news-des {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: -20px;
}
.subscribe-news-btn-section {
  display: flex;
  margin-top: 10px;
}
.subscribe-news-btn-section input {
  width: 390px;
  padding: 25px 30px;
  border: 0;
  outline: none;
  border-radius: 50px 0 0 50px;
  color: rgba(7, 2, 17, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-news-btn {
  width: 210px;
  padding: 23px 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

/* footer start here */
footer {
  width: 100%;
  height: 550px;
  background: #070211;
}
